@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1700px] mx-auto;
  }
}

body {
  @apply bg-dark-700 font-Sarabun;

  /* color: #202328; */
}

._tranistionFunc {
  transition-timing-function: cubic-bezier(
    0.455,
    0.03,
    0.515,
    0.955
  ) !important;
}
._sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #9d9ea78c;
}

._sidebar::-webkit-scrollbar {
  width: 6px;
  background-color: #34353e;
}

._sidebar::-webkit-scrollbar-thumb {
  border-radius: 999px !important;
  background-color: #34353ebc;
  transition: all 300ms;
}
._sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #34353e;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #7b7b7bb1;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #34353ef9;
}

::-webkit-scrollbar-thumb {
  border-radius: 999px !important;
  background-color: #34353ebc;
  transition: all 300ms;
}
:hover::-webkit-scrollbar-thumb {
  background-color: #34353e;
}
._border {
  @apply border-2 border-borderColor;
}
._borderLight {
  @apply border-2 border-gray-400/20 duration-200 hover:border-gray-400/50;
}
